.wrapper {
    max-width: 100%;
    margin:0 5% 0 5%;
    padding-bottom:100px;
    background-image: url("img/background.jpg");
    overflow-x:hidden;
}

#title{
    color:rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
    font-size: 500%;
    margin:0;
}

body{
    margin:0;
    padding:0;
}

nav{
    display:flex;;
}

nav ul{
    display:flex;
    flex:100%;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    margin:0;
}

nav ul li{
    font-size: 120%;
    padding:10px 50px;
    list-style-type: none;
}

nav ul li a{
    color:white;
    display: block;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(114, 139, 134);
}

img{
    margin:0 0 80px 0;
}

.intro p{
    margin:0;
    padding:10px 100px;
    background: rgb(155, 127, 127);
    text-align: center;
}

#why,#FAQ,#aboutVIP,#whyNearBy{
    padding:20px 0;
    background-color:rgb(155, 127, 127);
    margin:0 0 50px 0;
}

dt{
    font-size:200%;
    font-weight: bold;
    text-decoration: underline overline;
}

dd{
    font-size: 150%;
    padding:10px 30px;
}

.subtitle{
    border:1px solid rgb(12, 10, 10);
    margin:0;
    padding:10px 0;
    background-color:rgb(22, 21, 21); 
    text-align: center;
    font-size: 300%;
    color: rgb(240, 167, 167);
    text-decoration: underline;
    clear: both;
}

.googlemap{
    margin: 50px 13% 0 13%;
    width:75%;
    height:500px;
}

#introLocat{
    margin:0 201px 20px 223px;
    border:solid gold 1px;
    background-color:rgb(37, 29, 29);
    color:rgb(255, 255, 255);
}

#feedback{
    margin:0 201px 20px 223px;
    border:solid gold 1px;
    padding-left: 10px;
    background-color:rgb(41, 39, 39);
    color:rgb(255, 255, 255);
}

.contactform{
    margin:0 201px 20px 223px;
    border:solid gold 1px;
    padding-left: 10px;
    background-color:rgb(82, 73, 73);
    color:white;
}

.forms{
    border:solid gold 1px;
    padding-left: 10px;
    background-color:rgb(82, 73, 73);
    color:white;
}


.feedbackinfo{
    padding: 0 0 0 10px;

}

label{
    color:rgb(255, 255, 255);
    float:left;
    width:100%;
    clear:left;
    text-align: left;
    padding-right:10px;
}

input{
    color:rgb(0, 0, 0);
    background-color:rgb(204, 187, 187); 
    width:90%;
    margin:10px 0 10px 0;
    display: block;
}

button{
    margin:10px 0 10px 0;
    padding:10px 20px;
    width:91%;
}

textarea{
    color:rgb(0, 0, 0);
    background-color:rgb(182, 175, 175); 
    width: 90%;
    height: 500px;
}

table{
    margin:5% 25%;
    width:50%;
    /*table-layout: fixed;*/
    border-collapse: collapse;
}

.table{
    text-align:center;
}

th,td{
    border:1px solid lightblue;
    padding:10px 50px;
    color:rgb(0, 0, 0);
    background-color: rgb(103, 114, 108);
}

.facilities{
    background-color: rgb(155, 127, 127);
	margin: 0;
	padding: 0.5em;
}

.facilities img{
    float:left;
	margin:0;
    width: 700px;
    max-height: 500px;
}


.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

ul {
    margin-left:700px;
}

ul li{
    font-weight: bold;
    padding:20px 0 20px 0;
}

.introVIP,.mainP{
    margin-bottom: 50px;
    background-color: rgb(155, 127, 127);
}

p{
    padding:10px 100px;
    font-size: 150%;
}

.room{
    margin:50px;
    width:60%;
    height: 550px;
    float:left;
}

.VIP{
    padding:50px 50px;
    margin:0;
    background-color: rgb(155, 127, 127);
}

@media (max-width:600px){
    .VIP{
        display: none;
    }

    .room{
        height:300px;
    }

    h2{
        padding:10px;
    }

    .feedbackinfo{
        margin:0;
        padding:10px;
    }

    label{
        padding-left:5px;
    }

    #feedback{
        margin:0;
        padding:0;
    }
    #contactform{
        border:none;
        padding:0;
        margin:0;
    }
    .googlemap{
        height: 300px;
    }
}



@media (max-width:1000px){
    #feedback{
        margin:0;
        padding:0;
    }
    #contactform{
        border:none;
        padding:0;
        margin:0;
    }
    .feedbackinfo{
        margin:0;
        padding:10px;
    }
}

@media (max-width:1200px){
    .wrapper{
        overflow-x:auto;
    }
    #title{
        font-size:200%;
    }

    .lobbyimg{
        display: none;
    }

    nav ul{
        list-style-type: none;
        display: inline-block;
        margin:0;
        padding:0;
    }

    nav li{
        text-align: center;
    }

    .intro{
        display: none;
        font-size: 80%;
    }

    .subtitle{
        font-size:200%;
    }

    dt{
        font-size:150%;
        font-weight: bold;
        text-decoration: underline overline;
    }

    dd{
        font-size: 100%;
    }

    table{
        width:100%;
        margin:0 0 50px 0;
        padding:0;
    }

    th,td{
        padding:0;
    }

    .facilities img{
        width:100%;
    }
    p{
        font-size:100%;
    }

    .room{
        width:100%;
        margin:0;
    }

    .VIP{
        border: 5px solid black;
        font-size:120%;
        padding:50px;
        margin:100px;
    }

    #introLocat{
        margin:0;
        border:solid gold 1px;
        background-color:rgb(82, 73, 73);
        color:rgb(255, 255, 255);
    }

    textarea{
        width:90%;
        height: 100px;
    }

    button{
        width:auto;
        height: auto;
    }

    ul{
        margin:0;
    }
}
